<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068901468204-hlehc8d4helqhotan6qi783mofun4v5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068901468204-hlehc8d4helqhotan6qi783mofun4v5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068901468204-ksn9j01pogduk6r9tfv4a7cs1q3jo8vq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaA2E82WEaK5ODmLA-s9KEWlz7WseBfwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1068901468204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dplus</string>
	<key>PROJECT_ID</key>
	<string>dplus-f473b</string>
	<key>STORAGE_BUCKET</key>
	<string>dplus-f473b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068901468204:ios:3fadfd49a1912b7012e989</string>
</dict>
</plist>