<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaA2E82WEaK5ODmLA-s9KEWlz7WseBfwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1068901468204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dplus.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dplus-f473b</string>
	<key>STORAGE_BUCKET</key>
	<string>dplus-f473b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068901468204:ios:a73448dae376d5fe12e989</string>
</dict>
</plist>